In [7]:
import pandas as pd
import numpy as np
import os
from sklearn.metrics import classification_report
import seaborn as sn; sn.set(font_scale=1.4)
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
# import cv2
# import tensorflow as tf
# from tqdm import tqdm

In [10]:
# !conda install opencv-python

In [12]:
class_names = ['sujata', 'varamurti', 'shreya', 'kariganur', 'prashanth', 'kb']
class_name_labels = {class_name:i for i, class_name in enumerate(class_names)}
print(class_name_labels)

{'sujata': 0, 'varamurti': 1, 'shreya': 2, 'kariganur': 3, 'prashanth': 4, 'kb': 5}

In [21]:
df = pd.DataFrame(
                    {"a": [4, 5, 6], 
                     "b": [7, 8, 9], 
                     "c" : [10, 11, 12]}
#                      ,  index = [1, 2, 3]
                      , index = pd.MultiIndex.from_tuples([('d', 1), ('d', 2), ('e', 2)], names=['n', 'v'])
                 )

In [22]:
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [23]:
pd.melt(df)

  variable  value
0        a      4
1        a      5
2        a      6
3        b      7
4        b      8
5        b      9
6        c     10
7        c     11
8        c     12

In [ ]:
interface